@{
	ViewBag.Title = "Contact";
}
<h1>Contact</h1>
<div id="content">
	<h2>Address</h2>
	<address>
		Tobias Mundt - everyday solutions<br />
		Kettenburg 5a, D-27374 Visselhövede<br />
	</address>

	<address>
		<strong>Support:</strong>   <a href="mailto:info@youmoto.de">info@youmoto.de</a><br />
	</address>
</div>
